DATABASE_URL=postgresql://neondb_owner:npg_dvoZMXF3k5Ne@ep-raspy-block-anqbu4mo-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

BETTER_AUTH_SECRET=yUJwK6Ez6BTMqbnx9hEQSaRl74QxnF64

BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=Ov23liw3Qn0ntoSr6TTN

GITHUB_CLIENT_SECRET=f0ce4525d8f6ef19c7d41721b2299817f8c7316b

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBOgpwPaknkf1GfFPpA3Nre817zpGJLYjo

ELEVENLABS_API_KEY="sk_9dd86acb7db0a66cb764918e6376cc3923ff4525c9cb0ed6"

NEXT_PUBLIC_API_BASE_URL=http://localhost:8001
NEXT_PUBLIC_MONITORING_API_BASE_URL=http://localhost:8001
NEXT_PUBLIC_WS_URL=ws://localhost:8001/ws/monitor
NEXT_PUBLIC_MONITORING_WS_URL=ws://localhost:8001/ws/monitor